.project {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.thumbnail {
  height: 230px;  
  width: 230px;
  
  margin-right: 40px;
  border-radius: 8px;

  transition: transform 0.2s ease;
}

.thumbnail:hover {
  transform: scale(1.03);
}

.projectInfo {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.projectTitle {
  font-size: 1.3rem;
  font-weight: bold;

  color: var(--color-accent);
  margin-bottom: 12px;
}

.projectDescription {
  text-align: left;
  margin-bottom: 20px;
}

@media(max-width: 650px) {
  .project {
    flex-direction: column;
    align-items: center;
  }
  .thumbnail {
    margin-bottom: 30px;
    margin-right: 0px;
  }
}

.projectDescription p {
  margin-bottom: 12px;
}

/* Removes that bottom margin on the final paragraph only */
.projectDescription p:last-child {
   margin-bottom: 0;
}

.projectButton {
  background-color: var(--color-surface-alt);
  text-decoration: none;
  border: none;
  cursor: pointer;
  
  align-self: center;
  padding: 12px 20px;
  border-radius: 8px;

  color: var(--color-accent);
  font-weight: bold;
  font-size: 0.9rem;
}

.projectButton:hover {
  background-color: var(--color-surface-alt-hover);
}