.project {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.thumbnail {
  height: 230px;  
  width: 230px;
  
  margin-right: 40px;
  border-radius: 8px;

  transition: transform 0.2s ease;
}

.thumbnail:hover {
  transform: scale(1.03);
}

.projectInfo {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.projectTitle {
  font-size: 1.3rem;
  font-weight: bold;

  color: var(--color-accent);
  margin-bottom: 15px;
}

.projectDescription {
  text-align: justify;
  margin-bottom: 20px;
}

.projectButton {
  background-color: var(--color-surface-alt);
  text-decoration: none;
  border: none;
  cursor: pointer;
  
  align-self: center;
  padding: 10px 20px;
  border-radius: 8px;

  color: var(--color-accent);
  font-weight: bold;
}

.projectButton:hover {
  background-color: var(--color-surface-alt-hover);
}