.work {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;

  padding: 40px;
  font-size: 1rem;

  min-height: 0;
  overflow-y: scroll;
}

.emailHighlight {
  cursor: pointer;

  color: var(--color-accent);
  text-decoration: underline;
  font-weight: bold;
}

.paragraphSpacing {
  font-weight: bold;
  padding-bottom: 2px;
}

.titleHighlight {
  font-weight: bold;
  font-size: 1.6rem;
}

.footerNote {
  margin-top: 12px;
  font-size: 0.9rem;
}

.footerNote a {
  color: var(--color-accent);
  font-weight: bold;
}

.divider {
  border-top: 1px solid gray;
}

.emailHighlight:hover {
  color: var(--color-accent-hover);
}

.headline {
  border-radius: 6px;
  padding: 20px;

  font-size: 0.9rem;

  background-color: var(--color-surface-alt);
}

.skillsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

@media(max-width: 750px) {
  .work {
    padding: 25px;
  }
  .skillsGrid {
    grid-template-columns: 1fr;
  }
}

.work::-webkit-scrollbar {
  width: 15px;
}

.work::-webkit-scrollbar-track {
  background: transparent;
}

.work::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 999px;
  
  border: 4px solid transparent; /* creates inner spacing */
  background-clip: content-box;  /* makes border act like spacing */
}

.work::-webkit-scrollbar-thumb:hover {
  background: var(--color-scroll-hover);

  border: 4px solid transparent; /* preserve thumb size */
  background-clip: content-box;  /* preserve spacing */
}