.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  font-size: 1.18rem;
  padding: 20px 45px;
  gap: 10px;

  min-height: 0;
  overflow: hidden;
}

.contactTitle {
  font-family: var(--font-heading);
  font-size: 1.5rem;
  font-weight: bold;
}

.contactDescription {
  font-size: 1rem;
}

.emailHighlight {
  color: var(--color-accent); 
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

.emailHighlight:hover {
  color: var(--color-accent-hover);
}

.contactImage {
  max-height: 240px;
}

.contactBtn {
  background-color: var(--color-accent);
  border: none;
  cursor: pointer;

  padding: 10px 20px;
  border-radius: 8px;

  color: var(--color-background);
  font-weight: bold;
}

.contactBtn:hover {
  background-color: var(--color-accent-hover);
}