.navBar {
  display: flex;
  align-items: center;
  position: fixed;

  width: 100%;
  height: 50px;

  padding: 0 25px;
  background-color: var(--color-surface);
}

.themeButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  display: flex;
  font-size: 2rem;
  color: var(--color-text);

  transition: transform 0.2s ease;
}

.themeButton:hover {
  transform: scale(1.1);
}