.panel {
  display: flex;
  flex-direction: column;
  position: absolute;

  width: 90%;
  max-width: 780px;
  height: 70vh;
  max-height: 460px;

  user-select: none;
  background-color: var(--color-surface);
  border: 3px solid var(--color-border);
  border-radius: 8px;
}

.titleBar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: var(--font-heading);
  font-size: 1.5rem;
  font-weight: bold;

  height: 50px;
  padding: 0 10px;
  background-color: var(--color-background);

  border-bottom: 3px solid var(--color-border);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}