/* Default theme variables — dark mode is the default */
:root {
  --color-background: #151b2c;
  --color-surface: #232b42;
  --color-surface-alt: #303a57;
  --color-surface-alt-hover: #394566;

  --color-text: #edf1f8;
  --color-text-muted: #9aa4b8;

  --color-accent: #7d89c7;
  --color-accent-hover: #929dd8;
  --color-accent-border: #56618f;

  --color-border: #dcdee3;
  --color-scroll-hover: #c8cfdd;

  --color-input-error: #e67c7c;
  --color-input-background: #2b3450;
  --color-input-border: #6f7ba8;
  --color-input-border-focus: #6e7dc9;

  --color-shadow: rgb(0 0 0 / 35%);

  --font-body: "Inter", sans-serif;
  --font-heading: "Space Mono", monospace;
}

/* Light mode overrides — applied when .light class is added to <html> element */
:root.light {
  --color-background: #f4f6fb;
  --color-surface: #e5eaf3;
  --color-surface-alt: #d3dceb;
  --color-surface-alt-hover: #c2cee2;

  --color-text: #20283b;
  --color-text-muted: #6b7285;

  --color-accent: #6c78b8;
  --color-accent-hover: #7d89c7;
  --color-accent-border: #4d588f;

  --color-border: #585d6a;
  --color-scroll-hover: #9aa3b6;

  --color-input-error: #c64d4d;
  --color-input-background: #f0f3f9;
  --color-input-border: #9ba6c2;
  --color-input-border-focus: #6c78b8;
}

* {
  margin: 0;                /* Remove default browser margins from all elements */
  padding: 0;               /* Remove default browser padding from all elements */
  box-sizing: border-box;   /* Include padding and border in element's total width and height */
}

body {
  font-family: var(--font-body);
  background-color: var(--color-background);
  color: var(--color-text);
}

h1, h2, h3 {
  font-family: var(--font-heading);
}