.footer {
  position: fixed;

  width: 100%;
  bottom: 0;
}

.trademark {
  font-size: 0.9rem;
  user-select: none;
}

.container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.socials {
  display: flex;
  column-gap: 10px;
}
