.socialIcon {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  font-size: 1.8rem;
  color: var(--color-text);

  transition: transform 0.2s ease;
}

.socialIcon:hover {
  transform: scale(1.1);
}