.themeButton {
  position: absolute;
  left: 25px;
  top: 15px;

  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  font-size: 2rem;
  color: var(--color-text);

  transition: transform 0.2s ease;
}

.themeButton:hover {
  transform: scale(1.1);
}