.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  font-size: 1.18rem;
  padding: 20px 45px;
  gap: 10px;

  overflow: hidden;
}

.contactTitle {
  font-family: var(--font-heading);
  font-size: 1.5rem;
  font-weight: bold;
}

.contactDescription {
  font-size: 1rem;
  text-align: justify;
}

.emailHighlight, 
.emailCopied {
  position: relative;
  cursor: pointer;

  color: var(--color-accent); 
  text-decoration: underline;
  font-weight: bold;
}

.emailHighlight:hover,
.emailCopied:hover {
  color: var(--color-accent-hover);
}

.emailHighlight::before,
.emailCopied::before {
  content: "";
  position: absolute;
  bottom: -7.5px; /* sits just above the tooltip */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.2s ease;

  /* triangle using borders */
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(0,0,0,0.75) transparent;
}

.emailHighlight:hover::before,
.emailCopied:hover::before {
  opacity: 1;
}

.emailHighlight::after, 
.emailCopied::after {
  position: absolute;
  bottom: -38px; /* places it below the element */
  left: 50%;
  transform: translateX(-50%); /* centers it horizontally */

  opacity: 0; /* hidden by default */
  transition: opacity 0.2s ease;
  
   /* styling */
  background-color: rgba(0, 0, 0, 0.75); /* 0.75 = 75% opaque */
  color: whitesmoke;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 0.75rem;
  white-space: nowrap; /* prevents text wrapping */
}

.emailHighlight::after {content: "Copy to Clipboard"}
.emailCopied::after {content: "Copied!"}

.emailHighlight:hover::after, 
.emailCopied:hover::after {
  opacity: 1; /* visible on hover */
}

.contactImage {
  max-height: 240px;
}

.contactBtn {
  background-color: var(--color-accent);
  border: none;
  cursor: pointer;

  padding: 10px 20px;
  border-radius: 8px;

  color: var(--color-background);
  font-weight: bold;
}

.contactBtn:hover {
  background-color: var(--color-accent-hover);
}